main {
    display: block;
    margin: 2rem;
    border: none;
    border-radius: 1rem;
    width: auto;
    grid-area: main;
    overflow-y: auto;
    background-color: white;
}

section {
    text-align: center;
    padding: 3rem 1rem;
}

.hidden {
    display: none;
}

section p {
    margin-top: 0.2rem;
    font-size: 1.4rem;
}

.parking-lot {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 3rem 1rem;
}