#res-table-container {
    margin: 1rem 7rem 7rem;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

table {
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: rgb(225, 225, 225);
}

table th:first-child, th:last-child {
    border-radius: 1rem 0 0 0;
}

table th:last-child {
    border-radius: 0 1rem 0 0;
}

table td, table th {
    text-align: center;
    padding: 0.8rem;
}

table td:not(:last-child) {
    border-right: 0.1rem solid rgb(155, 155, 155);
}

table thead th {
    color: white;
    background-color: rgb(60, 60, 60);
}

table tr:nth-child(even) {
    background-color: #F8F8F8;
}

table tr:nth-child(even):hover {
    background-color: #f0f0f0;
}